{% if slides|length > 1 %}{{ attach_library('gamers_assembly/gamers_assembly.slideshow') }}{% endif %}

<div class="slideshow">
    <div class="home-slider-container">
        {% for slide in slides %}
            <figure {% if(slide.video) %}class="video-container"{% endif %}>
                <a href="{{ slide.link }}">
                    {% if(slide.video) %}
                        <video muted autoplay loop>
                            <source src="{{ file_url(slide.video) }}" type="video/mp4" />
                        </video>
                    {% else %}
                        <img src="{{ file_url(slide.image) }}" alt="{{ slide.name }}" class="img-responsive">
                    {% endif %}
                </a>
            </figure>
        {% endfor %}
    </div>
</div>