<div class="tournament-front-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="last-result">
                    <div class="row">
                        <div class="col-md-12">
                            {{ "Derniers résultats"|t }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <td>LoL</td>
                                    <td>poule</td>
                                    <td>Millénium</td>
                                    <td>V - D</td>
                                    <td>aAa</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    //TODO Implémenter Toornament
                </div>
            </div>
            <div class="col-md-4">
                <div class="all-result">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text">
                                {{ "Retrouvez le déroulement des tournois et tous les résultats de la Gamers Assembly"|t }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="cta">
                                <a href="{{ url('view.tournaments.page_1') }}">{{ "Tous les tournois"|t }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="next">
                    <div class="row">
                        <div class="col-md-12">
                            {{ "A suivre"|t }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <td>LoL</td>
                                    <td>poule</td>
                                    <td>Millénium</td>
                                    <td>V - D</td>
                                    <td>aAa</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    //TODO Implémenter Toornament
                </div>
            </div>
        </div>
    </div>
</div>