<div class="news-home2">
    {% include directory ~ '/components/title-line/title-line.html.twig' with {
    title:"Actualités"|t,
    icon:"mushroom"
    } only %}
    <div class="hack-line-left"></div>
    <div class="hack-line-right"></div>

    <div class="row ">

        {% for new in news %}
            <a href="{{ new.url }}">
                <div class="col-md-6 news-main">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-responsive" src="{{ file_url(new.image) }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="news-type"
                                 {% if(new.color) %}style="background-color:{{ new.color }}" {% endif %}>
                                {{ new.subtitle }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="news-background">
                                <div class="news-title">
                                    {{ new.title }}
                                </div>
                                <div class="news-date">{{ new.date|date("d/m/Y") }}</div>
                                <div class="news-content">
                                    {{ new.text|raw }}
                                </div>
                                <div class="news-more">
                                    <span class="cta btn-motion btn-1c">{{ "Lire la suite" |t }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </a>
        {% endfor %}
    </div>

    <div class="row ">
        <div class="col-md-12 text-center">
            <a href="{{ path('view.news.page_1') }}">
                <div class="more-news cta btn-motion btn-1c">
                    {{ "+ d'actualités"|t }}
                </div>
            </a>
        </div>
    </div>
</div>