<div class="news-home2">
    {% include directory ~ '/components/title-line/title-line.html.twig' with {
    title:"Last news"|t,
    icon:"mushroom"
    } only %}

    <div class="row news-main">
        <a href="{{ news[0].url }}">
            <div class="col-md-12">
                <div class="news-image" style="background-image:url('{{ news[0].image }}')">
                </div>
                <div class="news-type" style="background-color:{{ news[0].tagColor }}">
                    {{ news[0].tag }}
                </div>
                <div class="news-background">
                    <div class="news-title">
                        {{ news[0].title }}
                    </div>
                    <div class="news-date">09/08/2016</div>
                    <div class="news-content">
                        {{ news[0].text|raw }}
                    </div>
                    <!--div class="news-more">
                        <span>{{ "Lire la suite" |t }}</span>
                    </div-->
                </div>
            </div>
        </a>
    </div>
    {% for new in news|slice(1) %}
        {% if(loop.index0%2==0) %}
            <div class="row news">
        {% endif %}
        <a href="{{ new.url }}">
            <div class="col-md-6">
                <div class="news-image" style="background-image:url('{{ new.image }}')">
                    <div class="news-overlay">
                        {{ new.title }}
                    </div>
                </div>
                <div class="news-type" style="background-color:{{ new.tagColor }}">
                    {{ new.tag }}
                </div>
            </div>
        </a>
        {% if(loop.index0%2==1 or loop.last) %}
            </div>
        {% endif %}
    {% endfor %}
</div>