<div class="news-home2">
    {% include directory ~ '/components/title-line/title-line.html.twig' with {
    title:"Actualités"|t,
    icon:"mushroom"
    } only %}
    <div class="hack-line-left"></div>
    <div class="hack-line-right"></div>


    {% for new in news %}
        <div class="row news-main">
            <a href="{{ new.url }}">
                <div class="col-md-4 news-left">
                    <div class="news-image" style="background-image:url('{{ new.image }}')">
                    </div>
                    <div class="news-type" style="background-color:{{ new.tagColor }}">
                        {{ new.tag }}
                    </div>
                </div>
                <div class="col-md-8 news-right">
                    <div class="news-background">
                        <div class="news-title">
                            {{ new.title }}
                        </div>
                        <div class="news-date">09/08/2016</div>
                        <div class="news-content">
                            {{ new.text|raw }}
                        </div>
                        <div class="news-more">
                            <span class="cta btn-motion btn-1c">{{ "Lire la suite" |t }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

    <div class="row ">
        <div class="col-md-12 text-center">
            <a href="#">
                <div class="more-news cta btn-motion btn-1c">
                    + d'actualités
                </div>
            </a>
        </div>
    </div>
</div>