<div class="news-twitter-block">
    <div class="row title">
        <div class="line col-md-2"></div>
        <div class=" col-md-3">
            <h2 class="news">{{ "Dernières actualités"|t }}</h2>
        </div>
        <div class="line col-md-2"></div>
        <div class="col-md-3">
            <h2 class="twitter">{{ "Tweets"|t }}</h2>
        </div>
        <div class="line col-md-2"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% for new in news %}
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ new.url }}">
                                <div class="new">
                                    <div class="first col">
                                        <div class="image">
                                            <img src="{{ new.image }}"/>
                                        </div>
                                        <div class="tag" style="background-color:{{ new.tagColor }}">
                                            {{ new.tag }}
                                        </div>
                                    </div>
                                    <div class="second col">
                                        <h3> {{ new.title }}</h3>
                                        <p class="teaser">
                                            {{ new.text|raw }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4 col-md-offset-1">
                Tweets
            </div>
        </div>
    </div>
</div>
<