<div class="schedule">
    <script>
        var activityDay = {

            {% for key,activityDay in activities %}
            '{{ key }}': [
                {% for activity in activityDay %}
                {
                    id:{{ activity.id }},
                    group: '{{ activity.field_room.entity.getName() }}',
                    content: '<div class="activity" {% if(activity.field_game.entity) %}style="background-color:{{ activity.field_game.entity.field_game_color.value }}"{% endif %}><div class="content">{{ activity.getTitle()|escape('js') }}</div></div>',
                    {% if(activity.field_description.value) %}title: '<div class="activity-tooltip">{{ activity.field_description.value|raw|escape('js') }}</div>',{% endif %}
                    start: new Date('{{ activity.field_date.getValue()[0]['value'] }}'),
                    end: new Date('{{ activity.field_date.getValue()[0]['end_value'] }}'),
                    {% if(activity.field_lien.value) %}url: "{{ activity.field_lien.value|escape('js') }}"{% endif %}
                },
                {% endfor %}
            ],
            {% endfor %}
        };

        var rooms = [
            {% for activityDay in activities %}


            {% for activity in activityDay %}
            '{{ activity.field_room.entity.getName() }}',
            {% endfor %}

            {% endfor %}
        ]


    </script>

    {{ attach_library('gamers_assembly/gamers_assembly.schedule') }}


    <div id="timeline"></div>
</div>