<script>
    var activityDay = {

        {% for key,activityDay in activities %}
        '{{ key }}': [
            {% for activity in activityDay %}
            {
                room: '{{ activity.field_room.entity.getName() }}',
                content: '{{ activity.getTitle() }}',
                start: new Date('{{ activity.field_date.getValue()[0]['value'] }}'),
                end: new Date('{{ activity.field_date.getValue()[0]['end_value'] }}')
            },
            {% endfor %}
        ],
        {% endfor %}
    };
</script>

{{ attach_library('gamers_assembly/gamers_assembly.schedule') }}


<div id="timeline"></div>
