<div class="node-tournament">
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:node.getTitle()|t
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                {% if(node.field_tournament_image.entity.uri.value) %}
                    <div class="tournament-image"
                         style="background-image:url('{{ file_url(node.field_tournament_image.entity.uri.value) }}')"></div>
                {% else %}
                    <div class="tournament-image"
                         style="background-image:url('{{ file_url(node.field_game.entity.getImageUri()) }}')"></div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-8 tournament-tag-info">
                    <span class="tournament-tag">{{ node.field_game.entity.getEditor() }}</span>
                    <span class="tournament-tag">{{ node.field_game.entity.getType()|upper }}</span>
                    <span class="tournament-tag">{{ node.field_tournament_type.value }}</span>
                    <span class="tournament-tag">{{ node.field_tournament_plateform.value }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tournament-game-description">
                        {{ node.field_game.entity.getDescription()|raw }}
                    </div>
                    <div class="tournament-game-description">
                        {{ node.field_tournament_description.value|raw }}
                    </div>
                    <div class="tournament-planning">
                        <h3>{{ "Planning "|t }}</h3>
                        <div class="content">
                            {{ node.get('field_tournament_planning').value | raw }}
                        </div>
                    </div>
                    <div class="tournament-subscribers">
                        <h3>{{ "Inscrits" |t }}</h3>
                        <ul>
                            <li>{{ node.field_tournament_sub_count.value }} slots validés sur weezevent</li>
                            <li>{{ node.field_tournament_reserved_slot.value }} slots réservés</li>
                            <li>{{ node.field_tournament_size.value }} slot totaux</li>
                        </ul>
                        <div class="content">


                            {% for team,players in subscribers %}

                                <h4>{{ team }}</h4>
                                {% for player in players %}
                                    {{ player }}
                                {% endfor %}

                            {% endfor %}


                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tournament-format">
                        <h3>{{ "Format"|t }}</h3>
                        {% for format in node.field_tournament_format %}
                            <div class="line {% if (loop.index%2==0) %}light-grey{% endif %}">
                                {{ format.value }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tournament-cashprize">
                        <h3>
                            {{ node.field_tournament_cashprize.0.getFieldCollectionItem().field_cashprize_total.value }}
                        </h3>
                        {% for line in node.field_tournament_cashprize.0.getFieldCollectionItem().field_cashprize_lines %}
                            <div class="line {% if (loop.index%2==0) %}light-grey{% endif %}">
                                {{ line.value }}
                            </div>
                        {% endfor %}
                        <div class="note">
                            {{ node.field_tournament_cashprize.0.getFieldCollectionItem().field_cashprize_note.value }}
                        </div>
                    </div>
                    <div class="tournament-rules">
                        <h3>
                            {{ "Règlements" |t }}
                        </h3>
                        {% for rule in node.field_tournament_rules %}
                            <div class="rule {% if (loop.index%2==0) %}light-grey{% endif %}">
                                <a target="_blank" href="{{ file_url(rule.entity.uri.value) }}">
                                    {{ rule.description }} <i class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
