<div class="node-news">
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:node.getTitle(),
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content-left">
                    <div class="row">
                        <div class="col-md-9 col-lg-10">
                            <div class="news-title">{{ node.getTitle() }}</div>
                            <div class="news-info"><strong>{{ "Par"|t }}</strong> <span
                                        class="news-author">{{ author_name }}</span> <span
                                        class="news-date">{{ "le"|t }} {{ node.getCreatedTime()|date("d.m.Y") }}</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-2 news-share">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://{{ host  ~ url }}"
                               target="_blank" class="news-facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/home?status=http://{{ host  ~ url }}" target="_blank"
                               class="news-twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {% if (node.field_news_image.entity.uri.value) %}
                                <div class="news-image"
                                     style="background-image:url('{{ file_url(node.field_news_image.entity.uri.value) }}')"></div>
                            {% elseif(node.field_news_tournament.target_id) %}
                                <div class="news-image"
                                     style="background-image:url('{{ file_url(node.field_news_tournament.entity.field_tournament_image.entity.uri.value) }}')"></div>
                            {% elseif(node.field_game.entity.getImageUri()) %}
                                <div class="news-image"
                                     style="background-image:url('{{ file_url(node.field_game.entity.getImageUri()) }}')"></div>
                            {% elseif(node.field_news_edition.target_id) %}
                                <div class="news-image"
                                     style="background-image:url('{{ file_url(node.field_news_edition.entity.field_edition_image.entity.uri.value) }}')"></div>
                            {% else %}
                                <div class="news-image" style="background-image:url('{{ file_url(nodeImage) }}')"></div>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <div class="news-content">{{ node.get('field_news_content').value | raw }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 content-right blue-area">
                    <div class="row">
                        <div class="col-md-12">
                            {% include directory ~ '/components/title-line/title-line.html.twig' with {
                            title:"Dernières Actualités"|t,
                            } only %}
                        </div>
                    </div>

                    {% for new in lastNews %}
                        <div class="row">
                            <div class="col-md-12 news-main">
                                <a href="{{ new.url }}">
                                    <div class="row">
                                        <div class="col-xs-4 news-left">
                                            <div class="news-image"
                                                 style="background-image:url('{{ new.image }}')">
                                            </div>
                                            <div class="news-type"
                                                 {% if(new.color) %}style="background-color:{{ new.color }}" {% endif %}>
                                                {% if(new.gameShortName) %}({{ new.gameShortName }}) {% endif %}{{ new.tags|join(', ') }}
                                            </div>
                                        </div>
                                        <div class="col-xs-8 news-right">
                                            <div class="news-background">
                                                <div class="news-title">
                                                    {{ new.title }}
                                                </div>
                                                <div class="news-date">{{ new.date|date("d/m/Y") }}</div>
                                                <div class="news-more">
                                                    <span class="cta btn-motion btn-1c">{{ "Lire la suite" |t }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row ">
                        <div class="col-md-12 text-center">
                            <a href="{{ path('view.news.page_1') }}">
                                <div class="more-news cta btn-motion btn-1c">
                                    {{ "+ d'actualités"|t }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

