<div class="tournament">
    <a href="{{ path('entity.node.canonical', {'node': node.id()}) }}">
        <img class="center-block img-responsive"
             src="{{ file_url(cropped_image) }}"/>
        <div class="tournament-game" style="background-color:{{ node.field_tournament_game.entity.field_game_color.value }}">
            <h2>
                {{ node.getTitle() }}
            </h2>
        </div>

    </a>
    {% set sub_count = node.field_tournament_sub_count.value!=NULL ? node.field_tournament_sub_count.value : 0 %}
    {% set free_slot = node.field_tournament_size.value - node.field_tournament_reserved_slot.value - sub_count %}
    {% set free_slot_percent = (node.field_tournament_reserved_slot.value + sub_count )/node.field_tournament_size.value*100 %}

    {% if (free_slot_percent>66 ) %}
        {% set free_slot_class="high" %}
    {% elseif(free_slot_percent>33) %}
        {% set free_slot_class="medium" %}
    {% else %}
        {% set free_slot_class="low" %}
    {% endif %}
    <div class="tournament-status">{{ "Places restantes :"|t }} <span
                class="{{ free_slot_class }}">{{ free_slot }}</span></div>
    <div class="tournament-bar">
        <div class="progress-current {{ free_slot_class }}" style="width: {{ free_slot_percent }}%"></div>
    </div>
    <div class="row">
        <div class="col-md-7 col-xs-6 text-left">
            <div class="tournament-more">
                <a href="{{ path('entity.node.canonical', {'node': node.id()}) }}">
                    {{ "Liste des inscrits"|t }}
                </a>
            </div>
        </div>
        <div class="col-md-5 col-xs-6 text-right">
            {% if(node.field_tournament_weezevent_id.value!=NULL) %}
                <div class="tournament-more">
                    <a href="{{ path('ga_ticket') }}">
                        {{ "S'inscrire"|t }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
