{{ attach_library('gamers_assembly/gamers_assembly.slideshow') }}

<div class="slideshow">
    <div class="home-slider-container">
        {% for slide in slides %}
            <figure>
                <a href="{{ slide.link }}">
                    <img src="{{ slide.image }}" alt="{{ slide.name }}" class="img-responsive">
                </a>
            </figure>
        {% endfor %}
    </div>
</div>


<div class="grey-area">
    <div class="container-fluid">
        <div class="row title-line">
            <div class="col-md-12 decorated">
                <h2><span>{{ "Édition XXXX"|t }}</span></h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include directory ~ '/components/event-home-cta/event-home-cta.html.twig' %}
            </div>
            <div class="col-md-4">
                {% include directory ~ '/components/program-home-cta/program-home-cta.html.twig' %}
            </div>
            <div class="col-md-4">
                {% include directory ~ '/components/ticketing-home-cta/ticketing-home-cta.html.twig' %}
            </div>
        </div>
    </div>
</div>

<div class="blue-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 node-news-home">
                        <h2 class="title-line decorated">
                            <span>
                                {{ "Dernier actualités"|t }} <span class="mushroom"></span>
                            </span>
                        </h2>

                        <div class="row news-main">
                            <div class="col-md-12">
                                <div class="news-image" style="background-image:url('{{ news[0].image }}')">
                                </div>
                                <div class="news-type league-of-legends">
                                    {{ news[0].tag }}
                                </div>
                                <div class="news-background">
                                    <div class="news-title">
                                        {{ news[0].title }}
                                    </div>
                                    <div class="news-date">09/08/2016</div>
                                    <div class="news-content">
                                        {{ news[0].text|raw }}
                                    </div>
                                    <div class="news-more">
                                        <span><a href="{{ news[0].url }}">{{ "Lire la suite" |t }}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for new in news|slice(1) %}
                            {% if(loop.index0%2==0) %}
                                <div class="row news">
                            {% endif %}
                            <a href="{{ new.url }}">
                                <div class="col-md-6">
                                    <div class="news-image" style="background-image:url('{{ new.image }}')">
                                        <div class="news-overlay">
                                            {{ new.title }}
                                        </div>
                                    </div>
                                    <div class="news-type league-of-legends">
                                        {{ new.tag }}
                                    </div>
                                </div>
                            </a>
                            {% if(loop.index0%2==1 or loop.last) %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <h2 class="title-line decorated">
                            <span>
                                {{ "Inscriptions"|t }}
                            </span>
                        </h2>
                        <div class="row signup">
                            <div class="col-md-12">
                                <div class="status">
                                    Status
                                </div>
                                <div class="tournaments">
                                    <!-- TODO : WHILE -->
                                    <div class="row">
                                        <div class="col-md-2 tag league-of-legends">
                                            LoL
                                        </div>
                                        <div class="col-md-10 name">
                                            <div class="progress-current low" style="width: 15%;"></div>
                                            <div class="title">League of Legends</div>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="row">
                                        <div class="col-md-2 tag league-of-legends">
                                            LoL
                                        </div>
                                        <div class="col-md-10 name">
                                            <div class="progress-current medium" style="width: 50%"></div>
                                            <div class="title">League of Legends</div>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="row">
                                        <div class="col-md-2 tag league-of-legends">
                                            LoL
                                        </div>
                                        <div class="col-md-10 name">
                                            <div class="progress-current high" style="width: 75%"></div>
                                            <div class="title">League of Legends</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Move to footer -->
<div class="white-area">
    <div class="container-fluid">
        <div class="row title-line">
            <div class="col-md-12 decorated">
                <h2 class="">
                    <span>
                        {{ "Partenaires"|t }} <span class="space-invader"></span>
                    </span>
                </h2>
            </div>
        </div>
    </div>
    {% include directory ~ '/components/sponsors-banner/sponsors-banner.html.twig' %}
</div>
<div class="black-area footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#">Recrutement</a> | <a href="#">Espace Press</a> | <a href="#">Contact</a> | <a href="#">Mentions
                    légales</a>
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-twitch"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
    </div>
</div>
